.roboto-mainfont {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
    --primary-color: #EB0E3A;
    --secondary-color: #F54A6A;
    --tertiary-color: #F88797;
    --background-color: #FAC4C3;
    --accent-color: #FFF0DA;
}

#podium-frame {
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    width: 220px;
    text-align: center;
    overflow: hidden;
}

#podium-header {
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}

#podium-hover {
    background-color: lightgray;
}



#podium-ranks ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#podium-ranks ul li {
    padding: 10px 10px;
    border-top: 1px black solid;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#podium-ranks ul li:nth-child(1) {
    background-color: goldenrod;
}

#podium-ranks ul li:nth-child(2) {
    background-color: silver;
}

#podium-ranks ul li:nth-child(3) {
    background-color: rosybrown;
}


body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: var(--background-color);
}

.header {
    background-color: var(--primary-color);
    color: white
} 