.roboto-mainfont {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Overall Styling */

:root {
    --primary-color: #EB0E3A;
    --secondary-color: #F54A6A;
    --tertiary-color: #F88797;
    --background-color: #fffbff;
    --accent-color: #FFF0DA;
    --text-color: #291515;

}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: var(--background-color);
}

.header {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 15px;
    text-align: center;
    border-radius: 8px;
} 

#title-card {
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    margin: auto;
    padding: 10px 0 0 10px;
    width: 90vw;


    p {
        font-size: 24px;
        color: var(--text-color);
        padding: 10px 5vw 5vw 10px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
}



/* Vis Styling */

#podium-frame {
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    width: 220px;
    text-align: center;
    overflow: hidden;
}

#podium-header {
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}

#podium-hover {
    background-color: lightgray;
}



#podium-ranks ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#podium-ranks ul li {
    padding: 10px 10px;
    border-top: 1px black solid;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#podium-ranks ul li:nth-child(1) {
    background-color: goldenrod;
}

#podium-ranks ul li:nth-child(2) {
    background-color: silver;
}

#podium-ranks ul li:nth-child(3) {
    background-color: rosybrown;
}

div#shortsChartDiv {
    transform: translate(30px, 0px);
    padding: 10px;
    margin-top: 20px;
}

.timerRect {
    fill: var(--primary-color);
    stroke : solid var(--tertiary-color);
    stroke-width: 1;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.731));
}

.timerText {
    font-size: 16px;
    fill: var(--text-color);
}
.btn {
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    transform: translateY(-2px);
}
.btn:active {
    transform: translateY(2px);
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-light {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.btn-light:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-dark {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}
.btn-dark:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


.row_Cr {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: 10px;
}
.colLC{
    flex: 2;
}
.colRC{
    flex: 3;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 25px;
}
.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}


.yt-dashboard-container {
    width: 640px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.yt-video-area {
    height: 360px;
    background-color: white;
    border-radius: 8px 8px 0 0;
    position: relative;
    overflow: hidden;
}

.yt-slider-container {
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    position: relative;
}

#ytSlider {
    width: 100%;
    appearance: none;
    height: 4px;
    background: #ff0000;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.slider-tooltip {
    position: absolute;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.95);
    color: #000;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    left: 20px;
}

.yt-info-section {
    padding: 16px 20px;
    color: #000;
}

.yt-info-meta {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #606060;
    font-size: 14px;
}

.profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.sources {
    text-align: right;
    color: var(--text-color);
}


/* Tooltip styling */
.tooltip {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 8px;
    stroke: var(--text-color);
    border-radius: 4px;
}
