.roboto-mainfont {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
    --primary-color: #EB0E3A;
    --secondary-color: #F54A6A;
    --tertiary-color: #F88797;
    --background-color: #FAC4C3;
    --accent-color: #FFF0DA;
    --text-color: #4a3939;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: var(--background-color);
}

.header {
    background-color: var(--primary-color);
    color: white
} 

.timerRect {
    fill: var(--primary-color);
    stroke : solid var(--tertiary-color);
    stroke-width: 1;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.731));
}

.timerText {
    font-size: 16px;
    fill: var(--text-color);
}
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-light {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}
.btn-light:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-dark {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}
.btn-dark:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
